.column {
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 16px 8px 48px 8px;

  &__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    padding: 0 4px;
    color: #555555;
  }

  &__active {
    background-color: #eaf6ff;
  }
}

.red {
  color: #df0000;
}

.grey {
  color: #555555;
}

.green {
  color: #1f9275;
}

.blue {
  color: #3e96e7;
}

.yellow {
  color: #dba708;
}
