.header {
  background: #183c67;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 35px;
  color: white;

  &__logo {
    padding-right: 25px;
  }

  &__menu {
    display: flex;
    align-items: center;

    div + div {
      padding: 0 25px;
    }
  }

  &__searchbar {
    padding: 0 32px;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }
}
